<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd_HH.mm.ss} %t %-5p %c - %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="LogToFile" fileName="logs/validation.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd_HH.mm.ss} %t %-5p %c - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.broadcom.clarity.validator" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>
